{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{{ request.user.first_name }} {{ request.user.last_name }}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="{% static "network/assets/img/favicon.png"%}" rel="icon">
  <link href="{% static "network/assets/img/apple-touch-icon.png"%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <!-- <link href="{% static "network/https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"%}" rel="stylesheet"> -->

  <!-- Vendor CSS Files -->
  <link href="{% static "network/assets/vendor/aos/aos.css"%}" rel="stylesheet">
  <link href="{% static "network/assets/vendor/bootstrap/css/bootstrap.min.css"%}" rel="stylesheet">
  <link href="{% static "network/assets/vendor/bootstrap-icons/bootstrap-icons.css"%}" rel="stylesheet">
  <link href="{% static "network/assets/vendor/boxicons/css/boxicons.min.css"%}" rel="stylesheet">
  <link href="{% static "network/assets/vendor/glightbox/css/glightbox.min.css"%}" rel="stylesheet">
  <link href="{% static "network/assets/vendor/swiper/swiper-bundle.min.css"%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static "network/assets/css/style.css"%}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio - v3.7.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">

        {% if person.avatar %}
        <img src="{{ person.avatar.url }}" alt="" class="img-fluid rounded-circle">
        {% else %}
        <img src="{% static "network/assets/img/test-user.png" %}" alt="" class="img-fluid rounded-circle">
        {% endif %}
        
        <h1 class="text-light"><a href="/">{{ request.user.first_name }} {{ request.user.last_name }} </a></h1>
        
      </div>

      <!-- <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
          <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav>.nav-menu -->
    </div>
    <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <footer>
        {% if isOwner %}
        <a href="auth/logout"><button type="button" class="btn btn-danger" style="margin-left: 80px;">Log out</button></a>
        {% endif %}
      </footer>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <strong><h1>Upload a new photo for your gallery</h1></strong>
        </div>

        <hr>
        <br>
        
        <form action="" method="post" style="width: 600px;" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="form-group">
            <input type="text" class="form-control" id="title" name="title" placeholder="Enter title of your photo">
          </div>
          <br>
          <div class="form-group">
            <input type="text" class="form-control" id="location" name="location" placeholder="Enter location of your photo">
          </div>
          <br>
          {% if filters %}
          <select class="form-control form-control-sm" name="category">
            {% for filter in filters %}
            <option>{{filter.title}}</option>
            {% endfor %}
          </select>
          {% else %}
          <h5>You don't have album</h5>
          <h5>You can create here <a href="createFilter">create album</a></h5>
          {% endif %}
          <br>
          <div class="input-group mb-3">
            <input type="file" class="form-control" id="inputGroupFile01" name="newGalleryImage">
            <button type="submit" class="input-group-text" for="inputGroupFile01">Upload photo</button>
          </div>
        </form>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      
        
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static "network/assets/vendor/purecounter/purecounter.js"%}"></script>
  <script src="{% static "network/assets/vendor/aos/aos.js"%}"></script>
  <script src="{% static "network/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"%}"></script>
  <script src="{% static "network/assets/vendor/glightbox/js/glightbox.min.js"%}"></script>
  <script src="{% static "network/assets/vendor/isotope-layout/isotope.pkgd.min.js"%}"></script>
  <script src="{% static "network/assets/vendor/swiper/swiper-bundle.min.js"%}"></script>
  <script src="{% static "network/assets/vendor/typed.js/typed.min.js"%}"></script>
  <script src="{% static "network/assets/vendor/waypoints/noframework.waypoints.js"%}"></script>
  <script src="{% static "network/assets/vendor/php-email-form/validate.js"%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static "network/assets/js/main.js"%}"></script>

</body>

</html>